/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Julius+Sans+One&display=swap');
:root{
    --header-height: 3rem;
    --heading-font: 'Julius Sans One', sans-serif;
    --normal-font: 'Chelsea Market', cursive;
    --text-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --background-color: #D8D8D8;
    --text-color: #333333;
    --accent-color: #cbcbcb;
    --white-color: #FFFFFF;
    --big-font-size: 2rem;
    --h2-font-size:1.5rem;
    --normal-font-size: 1rem;
}

/* Base */
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--text-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-color); /* color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color); /* color of the scrollbar handle on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--text-color); /* color of the scrollbar track */
  }

html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--normal-font);
    color: var(--text-color);
    background-color: var(--background-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    width: 100%;
    height: 100%;
    display: block;
}

/* Classes */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: '';
    width: 65px;
    height: 0.18rem;
    left: 0;
    right: 0;
    top: 2rem;
    border-radius: 0.2rem;
    margin: auto;
    background-color: var(--text-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100%-2rem);
    margin-inline: 0.75rem;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--background-color);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.2);
}
/* Navbar */
.nav{
    display: flex;
    height: var(--header-height);
    font-family: var(--heading-font);
    align-items: center;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}
.nav-logo, .nav-toggle{
    font-family: var(--text-font);
    color: var(--text-color);
    font-weight: bolder;
    font-size: 1.35rem;
    transition: all 0.3s;
}
.nav-logo span{
    color: black;
}
.nav-logo:hover, .nav-toggle:hover{
    color: black;
    cursor: pointer;
}
.nav-toggle{
    font-size: 1.2rem;
}
/* For nav toggle in medium sized screens */
@media screen and (max-width: 768px) {
    .nav-menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background: #333333e7;
        transition: all 0.4s;
        backdrop-filter: blur(10px);
        --webkit-backdrop-filter: blur(10px);
    }
}
.nav-item{
    margin-bottom: 3rem;
}
.nav-link{
    position: relative;
    color: var(--white-color);
    transition: all 0.3s ease;
}
.nav-link:hover{
    color: black;
}
.active{
    color: black !important;
    font-size: 1.02rem;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}
.show{
    right: 0;
}


/* Home */
.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.home-data{
    align-self: center;
}
.home-title{
    font-size: var(--big-font-size);
    margin-bottom: 2rem;
}
.home-title-color{
    color: black;
    font-weight: bolder;
}
.home-social{
    display: flex;
    flex-direction: column;
}
.social-icon{
    width: max-content;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all 0.3s;
    opacity: 0;
}
.social-icon:hover{
    color: black;
}
.home-img{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    width: 300px;
}

/* Buttons */
.button{
    display: inline-flex;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--accent-color);
    background-color: var(--text-color);
    transition: all 0.3s;
}
.button:hover{
    transform: scale(0.975);
    color: var(--white-color);
    background-color: #211f1f;
}

/* About */
.about-container{
    row-gap: 2rem;
    text-align: center;
}
/* .about-img{
    justify-self: center;
} */
.about-subtitle{
    margin-bottom: 2rem;
}
.about-img img{
    width: 200px;
    border-radius: 0.5rem;
}
.contact-details{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Skills */
.skills-container{
    row-gap: 2rem;
    text-align: center;
}
.skills-subtitle{
    margin-bottom: 2rem;
}
.skills-text{
    margin-bottom: 4rem;
}
.skills-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--normal-font);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(15, 15, 15, 0.25);
}
.skills-data:hover{
    box-shadow: 0 5px 40px rgba(15, 15, 15, 0.3);
}
.skills-icon{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--text-color);
}
.skills-names{
    display: flex;
    align-items: center;
}
.skills-img{
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
}
.skills-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--text-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: -1;
}
/* Skill bars */
.skills-frontend{
    width: 93%;
}
.skills-nodejs{
    width: 85%;
}
.skills-react{
    width: 88%;
}
.skills-mongodb{
    width: 60%;
}
.skills-java{
    width: 50%;
}
.skills-git{
    width: 75%;
}

/* Work */
.work{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-container{
    row-gap: 2rem;
} 
.project{
    position: relative;
    border-radius: 0.5rem;
    height: 160px;
    overflow: hidden;
}
.project-details{
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding-inline: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
.project-details a{
    color: transparent;
    transition: all 0.5s ease-in-out;
}
.project:hover{
    box-shadow: 0px 0px 20px #7aa0b2;
}
.project:hover .project-details{
    background-color: #33333393;
    color: var(--background-color);
}
.project:hover .project-details a{
    color: var(--background-color);
}

/* Contact */
input,textarea{
    background-color: var(--text-color);
    color: var(--background-color);
}
.contact-input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--text-font);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    margin-bottom: 2rem;
}
.contact-button{
    display: block;
    border: none;
    outline: none;
    margin-left: auto;
    cursor: pointer;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/* Footer */
.footer{
    background-color: var(--text-color);
    color: var(--accent-color);
    text-align: center;
    font-weight: bold;
    font-size: var(--normal-font-size);
    padding: 2rem 0;
}
.footer-title{
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.footer-social{
    margin-bottom: 2rem;
}
.footer-social h5{
    margin-bottom: 1rem;
}
.footer-icon{
    font-size: 1.5rem;
    color: var(--accent-color);
    margin: 0 1rem;
    transition: 0.2s;
}
.footer-icon:hover{
    color: #fff;
}
.rights{
    font-size: 1rem;
}

h1{
    display: block;
}

/* Media Queries */
@media screen and (min-width: 425px) {
    .bd-grid{
        margin-inline: 2rem;
    }
    .home-img{
        right: 2rem;
        bottom: 2rem;
        width: 300px;
    }
    .project{
        height: 200px;
    }
    .social-icon{
        opacity: 1;
    }
}


@media screen and (min-width: 768px) {
    :root{
        --big-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --normal-font-size: 1.25rem;
    }
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 80px;
        top: 3rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav-list{
        display: flex;
        /* column-gap: 2rem; */
        padding-top: 0.25rem;
    }
    .nav-item{
        margin-left: 3rem;
        margin-bottom: 0;
    }
    .nav-link{
        color: var(--text-color);
    }
    .nav-toggle{
        display: none;
    }
    .nav-link:hover::after,
    .active::after{
        background-color: var(--text-color);
    }

    .home{
        height: 100vh;
    }
    .home-data{
        align-self: flex-end;
    }
    .home-social{
        padding-top: 0;
        padding-bottom: 2rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .social-icon{
        margin-right: 2rem;
        margin-bottom: 0;
    }
    .home-img{
        width: 357px;
        bottom: 15%;
    }

    .about-container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
    }
    .about-img img{
        width: 300px;
    }
    .contact-details{
        flex-direction: row;
        gap: 1.75rem;
        justify-content: center;
        text-align: center;
    }
    .contact-details div{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .skills-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .skills-data{
        /* min-width: fit-content; */
        width: 40%;
    }

    .project{
        height: 170px;
    }
    .project-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact-form{
        width: 350px;
    }
    .contact-container{
        justify-items: center;
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid{
        margin-inline: auto;
        padding-inline: 1rem;
    }
    .home-img{
        width: 457px;
        right: 10%;
    }
    .contact-form{
        width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid{
        padding: 0;
    }
}